{% load playlist_utils %}
<script type="text/javascript">
    $(document).ready(function() {
        Menu.init();
    });
</script>

<ul id="menu_list" class="vertical_list">
    <li class="vertical_item"><a id="feed" class="action" >feed</a></li>
    <li class="vertical_item"><a id="search" class="action" >search</a></li>
    <li class="vertical_item"><a id="radio" class="action" >radio</a></li>

    {% if playlists %}
        {% for playlist in playlists %}
        <li class="vertical_item">
            <div id="playlist_item_{{playlist.id}}">
            <a id="{{playlist.slug_name}}" class="action">{{playlist.name}}</a>
            {% ifmusiphileiscreator request.user playlist %}
            <a href="javascript:void(0);" onclick="Menu.editPlaylistItem({{playlist.id}});">edit</a>
            {% endifmusiphileiscreator %}
            </div>
            {% ifmusiphileiscreator request.user playlist %}
                <div class="editable_menu_item" id="editable_playlist_item_{{playlist.id}}" style="display:none" >
                    <input type="text" value="{{playlist.name}}" id="editable_playlist_name_{{playlist.id}}" />
                    <a href="javascript:void(0);" onclick="Menu.savePlaylistItem({{playlist.id}});">save</a>
                </div>
            {% endifmusiphileiscreator %}
        </li>
        {% endfor %}
    {% endif %}

{% if show_create_button %}
<li class="vertical_item">
<a href="javascript:void(0);" onclick="Playlist.create();">create new playlist</a>
</li>
{% endif %}

</ul>


