{% load playlist_utils %}
<ul id="menu_list" class="vertical_list">
    <li class="vertical_item"><a id="feed" href="javascript:void(0);" ><div>democracy list</div></a></li>
    <li class="vertical_item"><a id="search"  href="javascript:void(0);" ><div>back to search</div></a></li>
    <li class="vertical_item"><a id="radio"  href="javascript:void(0);" ><div>lastfm similar</div></a></li>

    {% if playlists %}
        {% for playlist in playlists %}
        <li class="vertical_item">
            <div id="playlist_item_{{playlist.id}}" class="playlist_item">
                <a class="playlist_link" id="playlist_{{playlist.slug_name}}" href="javascript:void(0);" title="{{playlist.name}}" ><div>{{playlist.name}}</div></a>
            {% ifmusiphileiscreator request.user playlist %}
            <a class="action" href="javascript:void(0);" onclick="UserPlaylist.editPlaylistItem({{playlist.id}});"><div>edit</div></a>
            {% endifmusiphileiscreator %}
            </div>
            {% ifmusiphileiscreator request.user playlist %}
                <div class="editable_menu_item" id="editable_playlist_item_{{playlist.id}}" style="display:none" >
                    <input type="text" value="{{playlist.name}}" id="editable_playlist_name_{{playlist.id}}" />
                    <a class="action" href="javascript:void(0);" onclick="UserPlaylist.savePlaylistItem({{playlist.id}});">save</a>
                </div>
            {% endifmusiphileiscreator %}
        </li>
        {% endfor %}
    {% endif %}

{% if show_create_button %}
<li class="vertical_item">
<a class="action" href="javascript:void(0);" onclick="UserPlaylist.create();"><div>create new playlist</div></a>
</li>
{% endif %}

</ul>


