<div id="lastfm_container">
    <div id="lastfm_tracks_container" class="lastfm_list_container">
        <h3>{{playlist_title}}</h3>
        <script type="text/javascript">
            Playlist.songs['{{playlist_id}}'] = new Array();
        </script>
        {% for track in lastfm_tracks %}
            <script type="text/javascript">
                $(document).ready(function() {
                    qString = '{{track.name|escapejs}} {{track.artist|escapejs}}';
                    length = Playlist.push('{{playlist_id}}', '{{track.artist|escapejs}}', '{{track.name|escapejs}}');
                    id = length-1;
                    $('#{{playlist_id}}_'+id).bind('click',function() {
                        comps = $(this).attr('id').split('_');
                        id = comps[comps.length-1];
                        Playlist.open('{{playlist_id}}', id);
                    });

                    $('#radio_{{playlist_id}}_'+id).bind('click',function() {
                        id = $(this).attr('id').split('_')[2];
                        lfm_id = Playlist.getPlaylistSong('{{playlist_id}}', id);
                        Radio.search(lfm_id);
                    });

                    $('#userplaylist_control_{{playlist_id}}_'+id).bind('click', function() {
                        id = $(this).attr('id').split('_')[3];

                        //UserPlaylist.addPlaylistSong(id, '{{playlist_id}}');
                        var pos = $(this).offset();
                        var width = $(this).width();
                        var height = $(this).height();
                        menu = $('#userplaylist_container_{{playlist_id|escapejs}}_'+id);
                        menu.css({'left':(pos.left) + "px", 'top':(pos.top+height) + "px"});
                        menu.show();
                        $(this).addClass('activated_userplaylist');
                    });

                });

                
            </script>
        {% if forloop.last %}
        <script type="text/javascript">
            Playlist.init_once();
        </script>
        {% endif %}
        {% endfor %}

        <script type="text/javascript">
                $(document).ready(function() {

                    $(document).bind('click', function(e) {
                            $('.activated_userplaylist').each(function(index, elem) {
                                playlist_id = $(elem).attr('id').split('_')[2];
                                if (elem && e.target != elem && $(e.target).parent().attr('id') != $(elem).attr('id')) {
                                    var id = $(elem).attr('id').split('_')[3];
                                    menu = $('#userplaylist_container_' + playlist_id + '_'+id);
                                    menu.hide();
                                    $(elem).removeClass('activated_userplaylist');
                                }
                            });
                    });
                });

        </script>

        <ul id="track_list" class="vertical_list">

        {% for track in lastfm_tracks %}

            <li class="vertical_item" id="{{playlist_id}}_item_{{forloop.counter0}}">
                <div class="playlist_name_items">
                    <a class="song"  ><div>{{track.artist}} - {{track.name}}</div></a>
                    <a class="action" id="{{playlist_id}}_{{forloop.counter0}}" href="javascript:void(0);"><div>play</div></a> 
                    <a class="action" id="radio_{{playlist_id}}_{{forloop.counter0}}" href="javascript:void(0);"><div>radio</div></a>


                {% if saved_playlists %}
                <a class="action add_to_playlist" id="userplaylist_control_{{playlist_id|escapejs}}_{{forloop.counter0}}" href="javascript:void(0);"><div>add to playlist <img src="/site_media/img/arrow-down.png" /></div></a>
                <ul id="userplaylist_container_{{playlist_id|escapejs}}_{{forloop.counter0}}" style="display:none;position:absolute;" class="vertical_list userplaylist_container">
                    {% with forloop.counter0 as track_loop_counter %}
                    {% for playlist in saved_playlists %}
                    <li class="vertical_item">
                    <a class="action" onclick="return UserPlaylist.select('{{track_loop_counter}}', '{{track.name|escapejs}}', $('#userplaylist_control_{{playlist_id|escapejs}}_{{track_loop_counter}}'), '{{playlist.name|escapejs}}', '{{playlist.id|escapejs}}');" href="javascript:void(0);">
                            <div>{{playlist.name}}</div>
                        </a>
                    </li>
                    {% endfor %}
                    {% endwith %}
                </ul>
                
                {% else %}
                <a class="action add_to_playlist" onclick="return UserPlaylist.selectDummy('{{forloop.counter0}}', '{{track.name|escapejs}}', '{{playlist_id|escapejs}}', 'untitled playlist');" href="javascript:void(0);" ><div>add to playlist</div></a>
                {% endif %}
                </div>

            </li>

        {% empty %}
            <li class="vertical_item">No songs found...</li>
        {% endfor %}
        </ul>
    </div>
</div>

