<div id="lastfm_container">
    <div id="lastfm_tracks_container" class="lastfm_list_container">
        <h3>{{playlist_title}}</h3>
        <script type="text/javascript">
            Playlist.songs['{{playlist_id}}'] = new Array();
        </script>
        {% for track in lastfm_tracks %}
            <script type="text/javascript">
                $(document).ready(function() {
                    qString = '{{track.name|escapejs}} {{track.artist|escapejs}}';
                    length = Playlist.songs['{{playlist_id}}'].push({'artist':'{{track.artist|escapejs}}','name':'{{track.name|escapejs}}', 'q':'{{q}}'});
                    id = length-1;
                    $('#{{playlist_id}}_'+id).bind('click',function() {
                        id = $(this).attr('id').split('_')[1];
                        Playlist.open('{{playlist_id}}', id);
                    });

                    $('#radio_{{playlist_id}}_'+id).bind('click',function() {
                        id = $(this).attr('id').split('_')[2];
                        Playlist.radio('{{playlist_id}}',id);
                        song = Playlist.songs['{{playlist_id}}'][id];
                        alert('id : ' + id + ' track_id : ' + song['lastfm_track_id'] + ' playlist_id : {{playlist_id}}');

                        Radio.open(song['lastfm_track_id']);
                    });
                });
            </script>
        {% endfor %}

        <ul id="track_list" class="vertical_list">

        {% for track in lastfm_tracks %}

            <li class="vertical_item" id="{{playlist_id}}_item_{{forloop.counter0}}">
                <a class="recent_song"  >{{track.artist}} - {{track.name}}</a>
                <a class="action" id="{{playlist_id}}_{{forloop.counter0}}">play</a> 
                <a class="action" id="radio_{{playlist_id}}_{{forloop.counter0}}">radio</a>
            </li>

        {% empty %}
            <li class="vertical_item">No songs found...</li>
        {% endfor %}
        </ul>
    </div>
</div>

