<div id="youtube_container">
    <h1 id="title">Hello...</h1>
    <div id="videoDiv">Loading...</div>
    <form id="radio_form" style="display:none;" action="/radio/" method="get">
        <button type="submit">play radio</button>
        <input id="lastfm_track" type="hidden" name="lastfm_track" value="" />
    </form>
    <form target="_blank" id="playlist_form" style="display:none;" action="/playlist/add/" method="post">
        <button type="submit">add to playlist</button>
        <input id="lastfm_track_song" type="hidden" name="lastfm_track_song" value="" />
    </form>
</div>

