li.vertical_item
  .playlist_name_items
    a.song.action(href='javascript:void(0);')
      div(style='line-height: 15pt;')
        b MGMT
        br
        span(style='font-size: 13pt;') Kids
    a#remove_playlist_osheaga_26.action(href='javascript:void(0);')
      div remove
    a#radio_playlist_osheaga_26.action(href='javascript:void(0);')
      div radio
    a#userplaylist_control_playlist_osheaga_26.action.add_to_playlist(href='javascript:void(0);')
      div
        | add to playlist
        img(src='/site_media/img/arrow-down.png')
    ul.userplaylist_container.vertical_list(style='display: none; position: absolute;')
      li.vertical_item
        a.action(href='javascript:void(0);')
          div one
      li.vertical_item
        a.action(href='javascript:void(0);')
          div laydback
      li.vertical_item
        a.action(href='javascript:void(0);')
          div osheaga
