{% extends "base.html" %}

{% block content %}
<div id="youtube_container">
<h1 id="title">Hello...</h1>
<div  id="videoDiv">Loading...</div>
</div>

<div id="lastfm_container">
<h1>{{username}} on lastfm</h1>
<div style="clear:both;"></div>
<div id="lastfm_friends_container" class="lastfm_list_container">
    <h3>friends</h3>
    <ul id="friends_list" class="vertical_list">
    {% for friend in lastfm_friends %}
        <li class="vertical_item"><a href="/accounts/{{friend.name}}">{{friend.name}}</a></li>
    {% empty %}
        <li class="vertical_item">No friends found...</li>
    {% endfor %}
    </ul>
</div>
<div id="lastfm_neighbours_container" class="lastfm_list_container">
    <h3>neighbours</h3>
    <ul id="neighbours_list" class="vertical_list">
    {% for neighbour in lastfm_neighbours %}
        <li class="vertical_item"><a href="/accounts/{{neighbour.name}}">{{neighbour.name}}</a></li>
    {% empty %}
        <li class="vertical_item">No neighbours found...</li>
    {% endfor %}
    </ul>
</div>
<div id="lastfm_recents_container" class="lastfm_list_container">
<h3>recent scrobbles</h3>
<ul id="recent_list" class="vertical_list" >
{% for recent in lastfm_recents %}
<script type="text/javascript">
    $(document).ready(function() {
        qString = '{{recent.name|escape}} {{recent.artist|escape}}';
        length = Playlist.songs.push(qString);
        id = length-1;
        $('#'+id).bind('click',function() {
            Playlist.open($(this).attr('id'));
        });
    });
</script>
<li class="vertical_item"><a class="recent_song" id="{{forloop.counter0}}" href="#{{recent.artist}}-{{recent.name}}" >{{recent.artist}} - {{recent.name}}</a></li>
{% empty %}
<li class="vertical_item">No songs found...</li>
{% endfor %}
</ul>
</div>
<script type="text/javascript">
    /*
    $(document).ready(function() {
        Playlist.open(0);
    });
    */
</script>
</div>
{% endblock %}
