/* general */
ul.vertical_list { list-style-type:none; margin:0; padding:0; float:left;} 
ul.vertical_list li.vertical_item { float:left; clear:both; width:100%; } 
.horizontal_list li.horizontal_item { float:left; } 
#container { width:975px; }

/* text colors */
body { color:#111111; background:#8fa298;}
a { color:#ee5e45; }
ul#track_list a.song, h3 { color:#2a2829; }
ul#menu_list a:hover, ul#track_list a.action:hover { background:#eaedca; color:#992288; } 
h1 a, #login_container a, h1 a:visited, #login_container a:visited { color:#2222DD; }
#login_container { margin-top:55px; }

/* old stuffs */
div#videoDiv { width:320px; height:180px; }
div#loadingDummyVideo { width:320px; height:180px; background:#efcf22; }
div#youtube_container h3, div#loadingVideoDiv h3 { height:43px;width:320px; overflow:hidden; margin:0px;}
.playlist_container li.vertical_item { font-size:14px;} 
#lastfm_friends_container,#lastfm_neighbors_container, #user_playlist_container { overflow:hidden; } 
#lastfm_recents_container { width:250px; overflow:hidden; } 
#youtube_container { height:352px; position:fixed; left:660px; top:120px;} 
div#loadingVideoDiv { width:320px; position:fixed; left:660px; top:120px; }

h1 { margin:0px; font-size:20px;} 
#lastfm_container,.playlist_container { float:left; } 
.playlist_container { width:517px; }
.playlist_container li { margin-bottom:5px; }
.playlist_container h3 { margin:24px 0 5px 5px;  } 

li.now_playing,a.selected { color:#992288!important; } 
a.selected { background:#eaedca!important; } 
li.now_playing div.playlist_name_items { background:#eaedca!important; }
.playlist_name_items { float:left; }

ul#menu_list li a,ul#track_list li a{text-decoration:none; float:left; } 
ul#menu_list a div, ul#track_list a div { margin:5px; }
ul#menu_list li { width:100%; }


a.song { width:306px; }

#track_list a.add_to_playlist img { border:none; }

.editable_menu_item input { float:left; }

.activated_userplaylist, .userplaylist_container { background:#dddddd; }
.add_to_playlist, .userplaylist_container { width:111px; }

.userplaylist_container a { width:100%; } 

/* popup */
.loading_overlay { position:absolute; height:100%; width:100%; display:none; background:#999999 url(/site_media/img/ajax-loader.gif) no-repeat center center; opacity:0.6; }

/* index */
#menu_container { float:left; margin-right:10px; margin-top:20px;} 
.lastfm_list_container,.list_container { float:left; } 

/* header */
#header h1 { font-size:27pt; width:235px; }
#header #music_search_form { position:absolute; left:300px; top:58px;}
#header #music_search_form input { color:#666666; width:400px; height:24px; font-size:24px; float:left;} 
#header #login_container { font-size:15pt; }
#header #music_search_form button { 
    background: url(/site_media/img/search_button.png) no-repeat scroll; 
    width:32px; 
    height:32px; 
    border:none; 
    float:left;
    margin:0 3px;
    cursor:pointer; 
}

div#header { float:left; width:100%; }
div#login_container { float:right; } 
div#header h1, div#header form#music_search_form { float:left; } 

div#sub_header { float:left; width:100%; border-bottom:thin solid #aaaaaa; }
#sub_header h3 { margin:10px 0 10px 0; }

/* sign in page */
#container .popup_container {
    display:none;
    position:absolute;
    top:79px;
    background:#222211;
    z-index:5;
}

.signup_page #title a { 
    float:left;
    margin:20px 0 5px 20px;
}
.signup_page #title a img { 
    border:none;
}

.form_container .error_message {
    border:2px solid #eeee22;
    background:#cccc99;
    padding:5px;
    margin-bottom:10px;
}

ul.errorlist { 
    margin:0;
    font-size:10pt;
}

#register_form_container {
    width:368px; 
}

#login_form_container {
    width:280px;
}


.signup_page div#footer  { 
    border-top:thin solid #aaaaaa; 
    float:left;
    width:100%;
    margin-top:20px; 
    padding-top:10px; 
} 
#register_form_container, #login_form_container, #gtalk_form_container {
    float:left; 
    background:#aaaaaa; 
    padding:10px;
    margin:23px;
}

.popup_container .closePanel { position:absolute; right:5px; top:2px; }

#register_form_container form {
    width:336px;
    margin:0px auto;
}

#login_form_container form {
    width:247px;
    margin:0px auto;
}

#register_form_container th {
    width:175px;
    float:left;
}
#login_form_container th {
    width:81px;
    float:left;
}
.form_container th {
    font-weight:normal;
    font-size:15px;
    text-align:left;
}
.form_container tr {
    height:26px; 
}
.form_container h3 {
    margin-bottom:10px; 
    margin-top:8px; 
}

.register_reasons_list {
    list-style-type:circle !important;
    float:left;
    margin:0 0 10px 17px;
    width:300px;
    font-size:13px; 
    padding-left:5px; 
}
#register_reasons_one, #register_reasons_one li {
    width:164px;
}
#register_reasons_two, #register_reasons_two li { 
    width:100px; 
}
.register_reasons_list li {
    float:left; 
    width:150px;
    margin-bottom:3px;
}

.field_error_msg {
    color:#ee0000;
}

.playlist_item a.playlist_link div { width:100px; overflow:hidden; height:19px; } 


#catch_phrase { position:absolute; left:200px; top:77px; color:#333; font-weight:normal;}
