<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %} sodalabs {% endblock %}</title>
    <link rel="stylesheet" href="/site_media/css/reset.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/site_media/css/sodalabs.css" />
    <script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/site_media/js/playlist.js"></script>
    <script type="text/javascript" src="/site_media/js/swfobject/src/swfobject.js"></script>

    {% block reset_styles %}{% endblock %}
    {% block javascript_includes %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  <div id="container">
    {% if messages %}
      <ul class="messagelist">{% for message in messages %}<li>{{ message|escape }}</li>{% endfor %}</ul>
    {% endif %}
    {% include "header.html" %}
    <div id="content" class="{% block content_class %}{% endblock %}">
      {% block content %}{% endblock %}
    </div>
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12587336-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
{% block page_js %}{% endblock %}
</html>
