<div id="header">
    <h1><a href="/"><img src="/site_media/img/logo.jpg" width="150" /></a></h1>

<form id="music_search_form" action="/" method="get">
    {% if q  %}
    <input type="text" value="{{q}}" name="q" />
    {% else %}
    <input id="search_me" type="text" value="Search Music" name="q" />
    {% endif %}
    <button type="submit" alt="search music button"></button>
</form>

<div id="login_container">
    {% include 'includes/top_right_tab.html' %}
</div>
    <h3 id="catch_phrase">Music Sharing for the 22nd Century</h3>
</div>
<div id="sub_header">

</div>
