{% extends "base.html" %}

{% block page_style %}
{% endblock %}

{% block content%}

{% include 'includes/player.html' %}

<div id="menu_container">
    {% include "includes/menu.html" %}
</div>

<div id="feed_container" class="playlist_container" style="display:none;">
    <h3>No songs played yet.</h3> 
</div>
<div id="search_container" class="playlist_container" style="display:none;">
    <h3>No search specified.</h3>
</div>
<div id="radio_container" class="playlist_container" style="display:none;">
    <h3>In order to make use of the radio feature, you must start listening to a song so we have something to generate similar songs from.</h3>
</div>

{% endblock %}

