{% extends "base.html" %}
{% block javascript_includes %}
<script type="text/javascript" src="/site_media/js/swfobject/src/swfobject.js"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">

function onYouTubePlayerReady(playerId) {
    ytplayer = document.getElementById('ytPlayer');
    ytplayer.addEventListener('onStateChange','Playlist.onPlayerStateChange');
    ytplayer.playVideo();
    Playlist.player = ytplayer;
}

var Playlist = {
    songs : new Array(),
    currentSong : false,
    player : false,

    open : function(songId) {
        songId = parseInt(songId);
        q = Playlist.songs[songId];

        Playlist.currentSong = songId;
        $.get('/playlist/open/',{'q':q}, function(data) {
                jsonData = JSON.parse(data);
                Playlist.play(jsonData['video_id'], jsonData['video_title']);
        });
        return false;
    },

    play : function(id,title) {
        /*
        * Simple player embed
        */
        songId = Playlist.currentSong;
        $('.recent_song').attr('class','recent_song');
        $('#'+songId).attr('class','recent_song now_playing');
        $('#title').html(title);
        if(Playlist.player) {
            Playlist.player.loadVideoById(id);
        } else {
            // The video to load.
            var videoID = id
            // Lets Flash from another domain call JavaScript
            var params = { allowScriptAccess: "always" };
            // The element id of the Flash embed
            var atts = { id: "ytPlayer" };
            // All of the magic handled by SWFObject (http://code.google.com/p/swfobject/)
            swfobject.embedSWF("http://www.youtube.com/v/" + videoID + "&enablejsapi=1&playerapiid=player1",
                               "videoDiv", "480", "295", "8", null, null, params, atts);

        }


    },
    onPlayerStateChange : function(state) {
        if (state==0) {
            songId = Playlist.currentSong+1;
            Playlist.open(songId);
        }
    }
}
</script>
<h1 id="title">Hello...</h1>
<div  id="videoDiv">Loading...</div>

<h1>surtyaar's lastfm recents</h1>
<ul id="recent_playlist" class="vertical_list" >
{% for recent in lastfm_recents %}
<script type="text/javascript">
    $(document).ready(function() {
        qString = '{{recent.name}} {{recent.artist}}';
        length = Playlist.songs.push(qString);
        id = length-1;
        $('#'+id).bind('click',function() {
            Playlist.open($(this).attr('id'));
        });
    });
</script>
<li><a class="recent_song" id="{{forloop.counter0}}" href="#{{recent.artist}}-{{recent.name}}" >{{recent.artist}} - {{recent.name}}</a></li>
{% endfor %}
</ul>
<script type="text/javascript">
    $(document).ready(function() {
        Playlist.open(0);
    });
</script>
{% endblock %}
